*{
  margin: 0;
  padding: 0;
}
        body {
            background-color: #3F2A8C;
        }
        
     /*---informações lp----*/
     .lpinf {
         list-style: none;
         text-align: center;
         margin-top: 50px;
         font-family: 'Times New Roman', Times, serif;
         color: #F23005;
         margin: 2em;
     }

     /*---titulo--*/
     .titulo{
         margin-top: 50px;
         
     }
        main > article {
            background-color: #3F2A8C;;
            margin: auto;
            display: block;
            text-align: center;
            margin-top: 50px;
        }
          
     

        h1 {
            color: #5A9DAE;
            margin-top: 50px;
            text-align: center;}
            
        
        h2 {
            color: #c9d633;
            text-align: center;
            margin-top: 25px;
        }
        h3 {
            color: rgba(255, 255, 0, 0.37);
            text-align: center;
        }
        p {
            color:white;
            text-align: justify;
            text-indent: 1em;
            text-align: center;
            margin-top: 8px;
        }
      
        

        /*botão de voltar*/
        .voltar{
            color: #F25C05;
            text-align: center;
        }

        footer {
            background-color: black;
            color: white;
            text-align: center;
            font-size: 0.9em;
            height: 50px;
            margin-top: 50px;
            line-height: 50px;
        }